.container {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.imgContainer {
    position: relative;
    min-height: 500px;
    flex: 1;
}

.img {
    object-fit: contain;
}

.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form button {
    background-color: var(--btn);
    color: var(--text);
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.form input,
.form textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--bgSoft);
    color: var(--text);
}