.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
}

@media(max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

}

@media(max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

}