.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.subtitle {
    color: var(--btn);
}

.title {
    font-size: 70px;
}

.desc {
    font-size: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes h1 {
    color: var(--btn);
}





.imgContainer {
    flex: 1;
    position: relative;
}

.img {
    object-fit: contain;
}