.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.subtitle {
    color: var(--btn);
}

.title {
    font-size: clamp(3rem, 6vw, 5rem);
}

.desc {
    font-size: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes h1 {
    color: var(--btn);
}

@media(max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;
    }

    .imgContainer {
        min-height: 600px;
    }

    .img {
        width: 70vw;

    }

    .desc {
        font-size: 16px;
    }
}

@media(max-width: 768px) {


    .imgContainer {
        min-height: 450px;
    }

    .boxes {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


.imgContainer {
    flex: 1;
    position: relative;
    min-height: 500px;
}

.img {
    object-fit: contain;
}