.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}