.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logoutBtn {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btnMenu,
.mobileMenu {
    display: none;
}

@media(max-width: 768px) {
    .container {
        display: none;
    }

    .btnMenu {
        display: block;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        position: absolute;
        top: 100px;
        right: 0;
        height: calc(100vh - 100px);
        width: 50vw;
        background-color: blueviolet;
        padding: 20px;

    }
}