.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.imageContainer {
    position: relative;
    flex: 1;
    height: calc(100vh - 200px);
}

.postImage {
    object-fit: cover;
}

.textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.infosContainer {
    display: flex;
    gap: 20px;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 80px;
}

.avatar {
    border-radius: 50%;
}

.detailKey {
    color: gray;
}

@media(max-width: 1024px) {}

@media(max-width: 768px) {
    .imageContainer {
        display: none;
    }
}